.control-label {
  font-size: small;
}

.active-staus {
  color: white;
  background-color: #5cb85c;
}

.inactive-staus {
  color: white;
  background-color: #d9534f;
}

.dropdown-menu {
  max-height: 150px;
  overflow-y: scroll;
}
