<div class="row-fluid">

  <!--<div align="center" *ngIf="!isLoaded">-->
  <!--<div class="loader"></div>-->
  <!--</div>-->

  <!--<div class="span8" *ngIf="isLoaded">-->
  <div class="component-background">

    <table class="table">
      <thead class="thead-default">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Type</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Standard 1</td>
        <td>type</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Standard 2</td>
        <td>type</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Standard 3</td>
        <td>type</td>
        <td>Inactive</td>
      </tr>
      </tbody>
    </table>

  </div>
  <!--</div>-->
</div>
